main, h1{ padding: 1em;}

html{
  background-color: lightgray;
}

img{
  height: 10rem;
  width: auto;
  border-radius:10%;
  box-shadow: 10px 5px 5px gray;
}

main p{
  background-color: gainsboro;
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
  box-shadow: 10px 5px 5px gray
}

footer{
  border: thin solid black;
}

ul {
  list-style-type: None;
}
h1, p {
  color : orangered
}